<app-header></app-header>

<section class="hero">
  <div class="hero-body">
    <img class="hero-about" src="assets/globe.jpg" alt="globe">
  </div>
</section>

<section class="section text-center mx-auto">

  <div class="formArea">
    <h1 class="title" data-aos="fade-down">CONTACT ME</h1>

  <form>
    <div class="field">
      <input type="text" name="name" class="input" placeholder="Your Name">
    </div>
    <div class="field">
      <input type="email" name="email" class="input" placeholder="Your Email">
    </div>
    <div class="field">
      <textarea class="textarea" name="message" placeholder="Ask me a question"></textarea>
    </div>
    <button type="submit" class="button is-danger is-large">Send</button>
  </form>
  </div>
</section>

<app-footer></app-footer>

