<div class="body">
  <app-header></app-header>
  <section class="second-section">
    <img class="hero" src="assets/water.jpg" alt="hero">
    <div id="wave" class="wave"></div>
  </section>
  <section class="third-section text-center float-md-right">
    <div class="parallax" #parallax id="droplets"></div>
  <div class="text">
    <h3 data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"> Parallax homepage </h3>
    <p data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">This page is all about parallax effects. <br> Vertical and horizontal parallaxes are used for different div elements</p>
  </div>
</section>
  <div class="parallax" #para id="droplets2"></div>
<app-footer></app-footer>
</div>
