/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Raleway:wght@300&display=swap');


h1,h2,h3,h4 {
  font-family: "Goblin One",'sans-serif';
}

p {
  font-family: "Raleway", 'sans-serif';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
}
