<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>/</title>
</head>
<body>
<header>
  <nav class="navbar" id="stickyNav" #stickynav [class.sticky]="sticky" @easeColor>
    <div class="bar-left">
      <ul>
        <li><a routerLink="/" class="navbarlinks-left active">Home</a></li>
        <li><a class="navbarlinks-left" routerLink="/">About me</a></li>
        <li><a class="navbarlinks-left" routerLink="/">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
</body>
</html>
